<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="SmokeSuite">

    <listeners>
        <listener class-name="org.example.listeners.TestListeners"/>
    </listeners>

    <test name="SmokeTest">

        <classes>

            <class name="org.example.tests.HomePageTests"/>

        </classes>

    </test>

</suite>